
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}
/* body{
    overflow-x: hidden;
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
    background-color: #112d4e;
} */
.wrapper{
min-height: 100vh;
width: 100vw;
color: var(--colorLight2);
background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
padding-bottom: 10px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}
.tab-container{
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}
.tab.current-tab{
    background-color: rgba(219, 226, 239,0.5);
    border-radius: 4px;
}
.error-container{
    display: none;
    flex-direction: column;
    align-items: center;
}
.error-container img{
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.error-container p{
    text-align: center;
}
.error-container.active{
    display: flex;
}
.weather-container{
    margin-block: 4rem;
}
.btn{
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    background-color: var(--colorDark2);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 10px;
}
.sub-container{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.grant-location-container{
    display: none;
    
}
.grant-location-container.active{
    display: flex;
}
.grant-location-container img{
    margin-bottom: 2rem;
}
.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}
.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
    text-align: center;
}
.loading-container{
    display: none;
}
.loading-container.active{
    display: flex;
}
.user-info-container{
    display: none;

}
.user-info-container.active{
    display: flex;
}
.name{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    gap: 0 0.5rem;
}
.name p{
    font-size: 2rem;
}
.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;
}
.user-info-container img{
    width: 90px;
    height: 90px;
}
.name img{
    width: 30px;
    height: 30px;
}
.user-info-container p[data-temprature]{
    font-size: 2.75rem;
    font-weight: 700;
}
.parameter-container{
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    margin-top: 2rem;
    width: 90%;
}
.parameter{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 200px;
    border-radius: 5px;
    padding: 1rem;
    gap: 5px 0;
    background-color: rgba(219, 226, 239, 0.5);
    align-items: center;
}
.parameter img{
    width: 50px;
    height: 50px;
}
.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}
.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}
.form-container{
    display:none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;
}
.form-container.active{
    display: flex;
}
.form-container input{
    all: unset;
    width: calc(100% - 100px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}
.form-container input::placeholder{
    color:rgba(255,255,255,0.7);
}
.form-container input:focus{
    outline: 3px solid rgba(255,255,255,0.7);
}
.form-container .btn{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 1px;
}
@media (max-width: 768px){
.parameter-container {
    flex-direction: column;
    align-items: center;
}
.parameter {
    width: 100%;
}

}
@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
    }

    .tab-container {
        margin-top: 2rem;
        width: 80%;
    }

    .tab {
        font-size: 0.75rem;
    }
}